@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Steak\ Rough";
  src: url("./font/Steak\ Rough.ttf");
}

.todolist {
  min-width: 500px;
  height: 100vh;
  margin: auto;
}

.title {
  font-family: "Steak\ Rough";
  font-size: 48px;
  letter-spacing: 20px;
  margin-bottom: 40px;
  padding-left: 20px;
}

.inputWrap {
  background-color: white;
  padding: 10px 20px;
  border-radius: 20px;
  border: solid 1px #132b4d;
}

.inputWrap:focus-within {
  border: solid 1px greenyellow;
}

input {
  outline: none;
  color: black;
  width: 300px;
}

.listWrap {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #132b4d;
  padding: 15px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  /* transition-delay: 0.3s; */
  bottom: 0px;
  position: relative;
}

.listWrap:hover {
  background-color: #24497c;
  bottom: 5px;
}

.listWrapActive {
  height: 200px;
}

.listWrap > button {
  background-color: rgb(35, 96, 207);
  padding: 5px 15px;
  border-radius: 10px;
}

.listIndex {
  font-weight: 700;
  font-size: 20px;
}
